<!DOCTYPE html>
<html>
    <head>
      <title>IoT Test</title>
    </head>
    <body>
      <nav class="nav-top">
        <div class "nav-top-body">
          {% if session['user']: %}
          <p class="navbar-text navbar-right">
          <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
          <span style="padding-left: 5px;">Hello, {{ session['user'] }}! <a href="logout">sign out</a></span>
          </p>
          {% endif %}
        </div>
      </nav>
      {% if session['user']: %}
      <div class="input-body">
        <form action="/" method="post">
          <label>From: <input type="datetime-local" name="datetime_from" value={{datetime_from}}></input></label>
          <label>To: <input type="datetime-local" name="datetime_to" value={{datetime_to}}></input></label>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="values-body">
	{% for value in values %}
        <p>{{value}}</p>
	{% endfor %}
      </div>
      {% else %}
      <div class="login-content">
	<div class="login-header">
       	  <h4 class="modal-title">Please sign in</h4>
      	</div>
	<div class="login-body">
        <form method="post" action='login' name="login_form">
          <p><input type="text" class="form-control" name="username" id="username" placeholder="User Name"></p>
          <p><input type="password" class="form-control" name="passwd" placeholder="Password"></p>
          <p>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </p>
        </form>
        </div>
      </div>
      {% endif %}
    </body>
</html>
